# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Build & Distribution
build/
dist/
*.egg-info/

# Databases & Test Artifacts
*.sqlite3
*.db
osivault_test.sqlite3

# Environment
.env
.venv
env/
venv/
